/* all page styling for full page flex */
/* html, body{

} */

.container{
	display: flex;
	flex-direction: column;
}

.box{
  text-align: center;
  color: #181046;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 0 5%;
}

.box li{
  list-style-type: none;
}

.nav-box {
  background-color: #3D405B;
  padding: 2% 0;
  min-height: 10vh;
  border-bottom: 5px #292B3D solid;
}

.main-box {
  background-color: #eeb9aac0;
  flex: 1;
  justify-content: flex-start;
  min-height: 73vh;
  padding: 2% 5%;
}


.footer-box {
  background-color: #3D405B;
  padding: 2% 0;
  min-height: 2.5vh;
  color: #F4F1DE;
  border-top: 5px #292B3D solid;
}

/* navbar styling */
  .nav_links a{
    color: #F4F1DE;
    text-decoration: none;
    line-height: 1.5em;
  }

    .nav_links a:hover{
      text-decoration: underline;
    }

    .nav_links a:active{
      text-decoration: underline;
    }

  .nav_links #main{
    text-decoration: underline;
    text-transform: uppercase;
  }

/* resume page styling */
h1 {
  font-size: 200%;
}

h3 {
  display: block;
  text-align: center;
  font-weight: 25;
  font-size: 110%;
}
h3 strong {
  display: block;
  font-size: 110%;
}

h2 {
  font-weight: 500;
  font-size: 150%;
}

.education, .skills, .experience{
  padding-top: 2%;
}

.experience *, .education *, .skills *{
  line-height: 1.2em;
  text-align: left;
}

.education li, .skills li, 
.experience ul, .experience h3{
  display: flex;
  flex-direction: column;
}

.experience li, .skills li, .education li{
  text-align: left;
}

/* index (main page) formatting */
.grid-container{
  display: grid;
  justify-items: center;
  grid-template-columns: auto auto auto;
  row-gap: 0.5em;
  column-gap: 0.5em;
  border: 7px #3D405B solid;
  background-color: #3D405B;
  border-radius: 1%;
}

.grid-item:hover{
  opacity: 0.50;
}

.index-main p{
  padding: 0.7em 0;
  text-align: left;
}

.index-main img{
  border-radius: 2%;
  width: 100%;
}

/* project page styling */
.gallery{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 1% 0;
}

.project-item{
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 3px #3d5a80 solid;
  border-radius: 3px;
  width: 25vh;
  min-height: 25vh;
  background-color: #3D405B;
  color: #F4F1DE;
}

.grow {
  transition: all .2s ease-in-out;
  }

.grow:hover {
transform: scale(1.1);
}

.item-top{
  padding: 5%;
  border-bottom: 3px #3d5a80 solid;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-item h1{
  font-size: 1.5em;
}

.item-middle{
  flex: 1;
  min-height: 10vh;
  border-bottom: 3px #3d5a80 solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3%;
}

.item-middle img{
  width: 2.5em;
  height: 2.5em;
}

.item-middle p{
  padding: 2% 0;
}

.project-item p{
  font-size: 110%;
}

.item-middle p.lang-text{
  font-size: 100%;
}

.item-bottom{
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-container{
  padding: 3% 0;
}

i{
  color: #e07b5f91;
  font-size: 250%;
  padding: 0 5%;
}

/* skip to main content */
.skip a{
  background: white;
  left: 0;
  padding: 7px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -50px;
}

.skip a:focus{
  position: absolute;
  top: 10px;
}



/* @media screen and (min-width: 850px){

  header {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav_links {
    flex-direction: row;
  }

} */
